<footer class="site-footer">
  <div class="wrap footer-inner">
    <p class="footer-id">{{ site.name }}<br>{{ site.practice }}</p>
    <p>
      {{ site.address[0] }}<br>
      {{ site.address[1] }}<br>
      License {{ site.license }} · <a href="{{ site.phoneTel }}">{{ site.phoneDisplay }}</a>
    </p>
  </div>
</footer>
