---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections.all %}
  {% if item.url and item.outputPath and ".html" in item.outputPath and item.url != "/404.html" %}
  <url><loc>{{ item.url | canonical(site.url) }}</loc></url>
  {% endif %}
{% endfor %}
</urlset>
